a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  background-color: green;
  padding: 5px;
}

.menu{
  padding-left: 15px;
}

.title{
  font-weight: bold;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
}

.toolbar-right{
  padding-right: 15px;
}
