<div class="register" fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-card-header>Register</h1>
  <form [formGroup]="form" (ngSubmit)="signUp($event)" class="reg-form">
    <div mat-card-content></div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Username" class="form-control" formControlName="username" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" class="form-control" formControlName="email" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" class="form-control" formControlName="password" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Repeat password" class="form-control" formControlName="password2"
          required>
      </mat-form-field>
    </div>
    <div mat-card-actions class="btn">
      <button mat-button cdkFocusInitial class="btn-sign-up">Submit</button>
    </div>
  </form>
</div>
