mat-sidenav-container{
  height: 85%;
  width: 100%;
  margin: 0;
}

mat-sidenav {
  min-width: 130px;
  background:rgb(255, 255, 255);
  border-right-color: green;
  border-right-style: solid;
  border-bottom-color: green;
  border-bottom-style: solid;
}

mat-sidenav-content{
  padding: 10px;
}
