<div class="datepicker">
  <mat-form-field class="date" appearance="fill">
    <mat-label>Show trainings for day</mat-label>
    <input matInput [matDatepicker]="datepicker" (dateChange)="dayChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Day Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Day </th>
      <td mat-cell *matCellDef="let row"> {{row.day}} </td>
    </ng-container>

    <!-- Activity Column -->
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let row"> {{row.activity}} </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration (minutes) </th>
      <td mat-cell *matCellDef="let row"> {{row.duration}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" (click)="deleteTraining(row)"> Delete </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">No trainings on this day.</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>
<div class="addtraining">
  <div class="newtraining">
    <h1>Add new training</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="addTraining($event)">
    <div mat-card-content>
      <div class="newtraining">
        <mat-form-field class="date" appearance="fill">
          <mat-label>Select day</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="day" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select activity</mat-label>
          <mat-select formControlName="activity">
            <mat-option *ngFor="let activity of activities" [value]="activity.id">{{ activity.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Duration (minutes)</mat-label>
          <input type="number" matInput formControlName="duration" required>
        </mat-form-field>
      </div>
    </div>
    <div mat-card-actions>
      <div class="newtraining">
        <button mat-raised-button class="add-btn"> Add </button>
      </div>
    </div>
  </form>
</div>
