.newmeal{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.datepicker{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mealtable{
  padding: 5px;
}

.addmeal{
  border-radius: 5px;
  border-style: solid;
  border-color: green;
}

.add-mc-btn{
  height: 100%;
}

.mat-form-field{
  padding-right: 5px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: lightslategrey;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

.btn-toggle{
  background-color: green;
  color: white;
}
